//Color Set
$primary: #0076ff !default;
$secondary: #607d8b !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #fd7e14 !default;

$body-bg: #f5f6fa;
// $shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04) !default;
$box-shadow: 0 4px 18px 0 rgba(6, 34, 44, 0.04) !default;
$nav-li-a: #555555 !default;